/****************************************
  Global Selectors
*****************************************/

* {
	font-family: Open Sans;
}

.center-container {
	width: 1000px;
	margin: 0 auto;
}

.a-btn {
	padding: 9px 15px;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/****************************************
  Header
*****************************************/

header {
	height: 72px;
	width: 100vw;
	background-color: white;
	position: fixed;
	z-index: 100;
}

.header-container {
	position: relative;
	top: 15px;
}

.header-container img {
	position: relative;
	height: 40px;
	margin-right: 25px;
}

/*Menu bars for mobile*/
.header-container > img {
	display: none;
}

.header-container nav {
	display: inline-block;
	position: absolute;
	top: 10px;
}

.header-container nav a {
	color: rgb(14, 121, 167);
	text-decoration: none;
	margin-left: 34px;
}

.contact-login {
	float: right;
	position: relative;
	top: 12px;
	width: 260px;
	margin-right: -10px;
}

.contact-login > div {
	display: inline-block;
	color: #616264;
	font-size: 15px;
}

.contact-login > a {
	position: relative;
	text-decoration: none;
	top: -2px;
	color: white;
	background-color: #525355;
	border: 1px solid #525355;
	border-radius: 3px;
	padding: 5px 20px 8px 20px;
	margin-left: 15px;
	font-size: 13px;
}

.header-line-menu {
	display: none;
	background-color: white;
	text-decoration: none;
	color: yellow;
	background-color: rgb(0, 131, 180);
	position: absolute;
	border-radius: 3px;
	top: 128%;
    right: 0;
}

.header-line-menu > a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px;
	font-size: 20px;
}

.header-line-menu > a:hover{
	background-color: rgb(199, 212, 129);
}

.header-line-menu > a:nth-child(3){
	border-bottom: 1px solid gray;
}

/****************************************
  Hero
*****************************************/

.hero {
	width: 100vw;
	height: 102vh;
	background-color: lightgray;
}

.hero-container {
	position: relative;
	top: 35%;
}

.hero-container > div:first-child {
	font-size: 40px;
	width: 620px;
	margin-bottom: 60px;
	color: white;
}

.hero-container > div:last-child a:first-child {
	background-color: #B1C100;
}

.hero-container > div:last-child a:last-child {
	background-color: #54C7E7;
}

.hero-container > div:last-child > * + * {
	margin-left: 10px;
}

/****************************************
  Main
*****************************************/

main {
	width: 100vw;
	margin-bottom: 220px;
}

.menu-container {
	margin-top: 100px;
	overflow: hidden;
	padding-bottom: 20px;
}

.menu-container > div:first-child {
	font-size: 40px;
	color: rgb(81, 198, 230);
	margin-bottom: 80px;
}

.menu-container > div:nth-child(2) {
	margin-bottom: 60px;
}

.menu-container .info-container {
	display: inline-block;
	width: 370px;
	overflow: hidden;
}

.info-container > img {
	float: left;
	height: 65px;
	width: 65px;
}


/*Patient and heart image selection*/
.menu-container > div:nth-child(2) > div:nth-child(3) > img {
	height: 70px;
	width: 70px;
}
/*Right containers*/
.info-container:nth-child(2), .info-container:nth-child(4) {
	margin-left: 90px;
}
/*Top containers*/
.info-container:nth-child(1), .info-container:nth-child(2) {
	margin-bottom: 55px;
}

.info-container > div{
	margin-left: 100px;
	margin-top: 10px;
	width: 250px;
	font-size: 15px;
	line-height: 25px;
}

.menu-container > a {
	background-color: rgb(204, 219, 41);
}

/****************************************
  Solutions Page
*****************************************/

.header-filler {
	height: 1px;
}

.solutions-main {
	position: relative;
	margin-top: 150px;
}

.solutions-container {
	margin-bottom: 280px;
}

.solutions-container > div:first-child {
	padding-bottom: 110px;
	border-bottom: 1px solid #d3d3d3;
}

.solutions-container > div:last-child {
	margin-top: 110px;
}

	/****************************************
	  Solutions top
	*****************************************/

	.solutions-description-top {
		display: inline-block;
		width: 390px;
		line-height: 31px;
		font-size: 21px;
		position: relative;
		top: -20px;
	}
	
	.solutions-description-top  > div:first-child {
		margin-bottom: 40px;
	}

	.solutions-description-top  > * + * {
		margin-top: 20px;
	}

	.solutions-description-top > div:first-child {
		color: rgb(175, 192, 0);
		font-size: 40px;
	}

	.solutions-description-top > div:last-child {
		color: rgb(86, 199, 230);
	}

	.solutions-image-container-top {
		display: inline-block;
		position: relative;
		top: 42px;
	}

	.solutions-image-container-top > img{
		height: 320px;
		width: 570px;
		margin-left: 30px;
	}

	.solutions-image-container-top p {
		font-size: 13px;
		margin-left: 165px;
	}

	/****************************************
	  Solutions Bottom
	*****************************************/

	.solutions-description-bottom {
		display: inline-block;
		width: 421px;
		font-size: 21px;
		line-height: 31px;
		position: relative;
		margin-left: 95px;
		top: -105px;
	}

	.solutions-description-bottom  > div:first-child {
		margin-bottom: 40px;
	}

	.solutions-description-bottom  > * + * {
		margin-top: 20px;
	}

	.solutions-description-bottom > div:first-child {
		color: rgb(175, 192, 0);
		font-size: 41px;
	}

	.solutions-description-bottom > div:last-child {
		color: rgb(86, 199, 230);
	}

	.solutions-image-container-bottom {
		display: inline-block;
		position: relative;
		top: -15px;
		left: -15px;
	}

	.solutions-image-container-bottom > img{
		height: 380px;
		width: 410px;
	}

	.solutions-container > div:last-child > img {
		width: 450px;
		position: relative;
		margin-left: 500px;
		margin-top: -70px;
	}

/****************************************
  Our Team
*****************************************/

.team-lightbox{
	display: none
}

.our-team-container {
	margin-top: 150px;
	margin-bottom: 150px;
}

.our-team-container > div:first-child {
	color: rgb(84, 199, 231);
	font-size: 40px;
	margin-bottom: 80px;
}

.bio-container {
	display: inline-block;
	overflow: hidden;
	width: 870px;
	margin-bottom: 100px;
}

.bio-container img {
	float: left;
	height: 250px;
	border-radius: 3px;
}

.bio-text-description-container {
	margin-left: 220px;
}

.position-title {
	margin-bottom: 20px;
}

.more-about-btn {
	display: none;
}

.bio-text-description-container > div:first-child {
	color: rgb(29, 117, 165);
	font-size: 20px;
	margin-bottom: 3px;
}

.bio-text-description-container > .paragraph {
	margin-bottom: 20px;
}

/****************************************
  Contact
*****************************************/

#alert {
	display: none;
	position: fixed;
	top: 50%;
	margin-top: -100px;
	right: 50%;
	margin-right: -200px;
	height: 200px;
	width: 400px;
	background-color: rgba(0,153,0,1);
	border-radius: 15px;
	color: white;
}

#alert > div {
	position: relative;
	top: 50%;
	margin-top: -12px;
	font-size: 24px;
	text-align: center;
}

#feedback-form  {
	margin-left: -7px;
}

.contact-container {
	margin-top: 160px;
	margin-bottom: 203px;
	width: 982px;
}

.contact-container > div:first-child {
	color: rgb(2, 112, 160);
	font-size: 40px;
	margin-bottom: 50px;
	margin-left: -5px;
}

.contact-container .address {
	margin-left: -5px;
	margin-bottom: 60px;
}

.contact-container > div:nth-child(3) {
	color: rgb(14, 114, 163);
	margin-left: -5px;
	margin-bottom: 20px;
	font-weight: bold;
}

.contact-container .address > div:first-child {
	margin-left: 0px;
}

form label {
	display: inline-block;
	position: absolute;
	padding: 2px 0 0 5px;
	font-size: 13px;
	color: rgb(166, 166, 166);
}

form input {
	margin-top: 28px;
	margin-left: 5px;
	width: 600px;
	border: none;
	height: 30px;
}

form {
	width: 600px;
}

form > div {
	display: inline-block;
	height: 65px;
	width: 287px;
	border: 1px solid rgb(166, 166, 166);
	margin-left: -5px;
	margin-top: -1px;
}

form .message {
	width: 575px;
	height: 175px;
}

textarea {
	height: 143px;
	width: 600px;
	border: none;
	margin-top: 28px;
	resize: none;
}

form #dropbox_submit {
	border-radius: 3px;
	border: none;
	padding: 9px 20px;
	height: initial;
	width: initial;
	background-color: rgb(84, 199, 231);
	color: white;
	margin-left: initial;
	margin-top: 40px;
}

/****************************************
  Footer
*****************************************/

footer {
	position: relative;
	right: 0;
	left: 0;
	bottom: 50px;
}

.footer-container > img {
	top: -25px;
	height: 50px;
	position: relative;
}

.footer-container > div {
	display: inline-block;
	width: 160px;
	margin-left: 70px;
	line-height: 30px;
}